.custom-scroll::-webkit-scrollbar {
  width: 12px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #e5e7eb;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 80px;
}
.dark .custom-scroll::-webkit-scrollbar-track {
  background: rgb(36, 35, 35); /* gray-900 */
}
.dark .custom-scroll::-webkit-scrollbar-thumb {
  background: #4b5563; /* gray-600 */
}
.dark .custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* gray-500 */
}